<?php
/**
 * @author Antoine Hedgecock <antoine@pmg.se>
 * @author Jonas Eriksson <jonas@pmg.se>
 *
 * @copyright PMG Media Group AB
 */

use MCNUser\Options\Authentication\Plugin;

return array(
    'MCNUser' => array(

        'authentication' => array(

            // Routes
            'logout_route'           => 'home',
            'failed_login_route'     => 'home',
            'successful_login_route' => 'user/profile',

            // If a param by the name of "redirect" exists
            // and is not empty a user will be redirected to that page
            'enabled_redirection' => true,

            // service locator key for the class to use
            'user_service_sl_key' => 'mcn.service.user',

            // list of plugins
            'plugins' => array(
                'MCNUser\Options\Authentication\Plugin\Standard' => array(
                    'http_identity_field'   => 'identity',
                    'http_credential_field' => 'credential',

                    'entity_identity_property'   => 'email',
                    'entity_credential_property' => 'password',

                    // Credential treatment is applied on the user supplied password
                    // before comparing it with the password stored in the backend
                    'credential_treatment' => function($password) {

                        return sha1($password);
                    }
                ),

                'MCNUser\Options\Authentication\Plugin\RememberMe' => array(

                )
            ),

            'listeners' => array(

                'mcn.listener.user.authentication.update-login'.
                'mcn.listener.user.authentication.remember-me-auth-trigger',
                'mcn.listener.user.authentication.remember-me-cookie-handler'
            )
        )
    ),


    'router' => array(

        'routes' => array(

            'mcn-user' => array(

                'type' => 'literal',
                'options' => array(

                    'route' => '/mcn-user'
                ),

                'may_terminate' => false,
                'child_routes'  => array(

                    'login' => array(
                        'type'    => 'Segment',
                        'options' => array(

                            'route' => '/login/[:plugin]',
                            'defaults' => array(

                                'controller' => 'mcn.user.authentication',
                                'action'     => 'login'
                            )
                        )
                    ),

                    'logout' => array(

                        'type'    => 'literal',
                        'options' => array(

                            'route' => '/logout',
                            'defaults' => array(

                                'controller' => 'mcn.user.authentication',
                                'action'     => 'logout'
                            )
                        )
                    )
                )
            )
        )
    )
);
